.hourlyWeather{
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  grid-gap: 1px;
  align-items: end;
  font-family: monospace;
  overflow: hidden;
  padding: 0;
  font-size: 0.6em;
  text-align: center;
}
.hourlyRow{
  min-width: 1.2em;
  padding: 0.3em;
  display: grid;
}
.day{
  background-color: lightblue;
}
.night{
  background-color: darkgray;
}
.time{
  align-self: end;
}
.weather{
  background: white;
}
